@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-light-white: #fff;
  --colors-light-failure: #ed4b9e;
  --colors-light-failure33: #ed4b9e33;
  --colors-light-primary: #1fc7d4;
  --colors-light-primary0f: #1fc7d40f;
  --colors-light-primary3D: #1fc7d43d;
  --colors-light-primaryBright: #53dee9;
  --colors-light-primaryDark: #0098a1;
  --colors-light-success: #31d0aa;
  --colors-light-success19: #31d0aa19;
  --colors-light-warning: #ffb237;
  --colors-light-warning2D: #ed4b9e2d;
  --colors-light-warning33: #ed4b9e33;
  --colors-light-binance: #f0b90b;
  --colors-light-overlay: #452a7a;
  --colors-light-gold: #ffc700;
  --colors-light-silver: #b2b2b2;
  --colors-light-bronze: #e7974d;
  --colors-light-secondary: #7645d9;
  --colors-light-secondary80: #7645d980;
  --colors-light-background: #faf9fa;
  --colors-light-backgroundDisabled: #e9eaeb;
  --colors-light-backgroundAlt: #fff;
  --colors-light-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
  --colors-light-cardBorder: #e7e3eb;
  --colors-light-contrast: #191326;
  --colors-light-dropdown: #f6f6f6;
  --colors-light-dropdownDeep: #eee;
  --colors-light-invertedContrast: #fff;
  --colors-light-input: #eeeaf4;
  --colors-light-inputSecondary: #d7caec;
  --colors-light-tertiary: #eff4f5;
  --colors-light-text: #280d5f;
  --colors-light-text99: #280d5f99;
  --colors-light-textDisabled: #bdc2c4;
  --colors-light-textSubtle: #7a6eaa;
  --colors-light-disabled: #e9eaeb;
  --colors-light-gradientBubblegum: linear-gradient(
    139.73deg,
    #e5fdff,
    #f3efff
  );
  --colors-light-gradientInverseBubblegum: linear-gradient(
    139.73deg,
    #f3efff,
    #e5fdff
  );
  --colors-light-gradientCardHeader: linear-gradient(
    111.68deg,
    #f2ecf2,
    #e8f2f6
  );
  --colors-light-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
  --colors-light-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
  --colors-light-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
  --colors-light-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-light-gradientBold: linear-gradient(#53dee9, #7645d9);
  --colors-dark-white: #fff;
  --colors-dark-failure: #ed4b9e;
  --colors-dark-failure33: #ed4b9e33;
  --colors-dark-primary: #1fc7d4;
  --colors-dark-primary0f: #1fc7d40f;
  --radii-card: 24px;
}

[data-theme="dark"] {
  --colors-white: #fff;
  --colors-failure: #ee7e3e;
  --colors-failure33: #ed4b9e33;
  --colors-primary: #1fc7d4;
  --colors-primary0f: #1fc7d40f;
  --colors-primary3D: #1fc7d43d;
  --colors-primaryBright: #53dee9;
  --colors-primaryDark: #0098a1;
  --colors-success: #2ccece;
  --colors-success19: #31d0aa19;
  --colors-warning: #ffb237;
  --colors-warning2D: #ed4b9e2d;
  --colors-warning33: #ed4b9e33;
  --colors-binance: #f0b90b;
  --colors-overlay: #452a7a;
  --colors-gold: #ffc700;
  --colors-silver: #b2b2b2;
  --colors-bronze: #e7974d;
  --colors-secondary: #9a6aff;
  --colors-secondary80: #9a6aff80;
  --colors-background: #08060b;
  --colors-backgroundDisabled: #3c3742;
  --colors-backgroundAlt: #27262c;
  --colors-backgroundAlt2: rgba(39, 38, 44, 0.7);
  --colors-cardBorder: #383241;
  --colors-contrast: #fff;
  --colors-dropdown: #1e1d20;
  --colors-dropdownDeep: #100c18;
  --colors-invertedContrast: #191326;
  --colors-input: #372f47;
  --colors-inputSecondary: #262130;
  --colors-tertiary: #353547;
  --colors-text: #f4eeff;
  --colors-text-special: #f4eeff;
  --colors-text99: #f4eeff99;
  --colors-textDisabled: #666171;
  --colors-textSubtle: #74ddca;
  --colors-disabled: #524b63;
  --colors-violetAlt1: #434575;
  --colors-violetAlt2: #66578d;
  --colors-bubblegum1: #313d5c;
  --colors-bubblegum2: #3d2a54;
  --colors-tooltipBackground: #fff;
  --colors-tooltipText: #000;
  --colors-lightBlueLeft: #28c38b;
  --colors-lightBlueRight: #28c38b;
  --colors-background-slider: #303030;
  --colors-textSub: #fff;
  --colors-gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
  --colors-gradientInverseBubblegum: linear-gradient(
    139.73deg,
    #3d2a54,
    #313d5c
  );
  --colors-gradientCardHeaderFrom: #3b4155;
  --colors-gradientCardHeaderTo: #3a3045;
  --colors-gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
  --colors-gradientBlue: linear-gradient(180deg, #00707f, #19778c);
  --colors-gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
  --colors-gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
  --colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-gradientBold: linear-gradient(#53dee9, #9a6aff);
}

[data-theme="light"] {
  --colors-white: #fff;
  --colors-failure: #ee7e3e;
  --colors-failure33: #ed4b9e33;
  --colors-primary: #1fc7d4;
  --colors-primary0f: #1fc7d40f;
  --colors-primary3D: #1fc7d43d;
  --colors-primaryBright: #53dee9;
  --colors-primaryDark: #0098a1;
  --colors-success: #2ccece;
  --colors-success19: #31d0aa19;
  --colors-warning: #ffb237;
  --colors-warning2D: #ed4b9e2d;
  --colors-warning33: #ed4b9e33;
  --colors-binance: #f0b90b;
  --colors-overlay: #452a7a;
  --colors-gold: #ffc700;
  --colors-silver: #b2b2b2;
  --colors-bronze: #e7974d;
  --colors-secondary: #7645d9;
  --colors-secondary80: #7645d980;
  --colors-background: #faf9fa;
  --colors-backgroundDisabled: #e9eaeb;
  --colors-backgroundAlt: #fff;
  --colors-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
  --colors-cardBorder: #e7e3eb;
  --colors-contrast: #191326;
  --colors-dropdown: #f6f6f6;
  --colors-dropdownDeep: #eee;
  --colors-invertedContrast: #fff;
  --colors-input: #eeeaf4;
  --colors-inputSecondary: #d7caec;
  --colors-tertiary: #eff4f5;
  --colors-text: #196855;
  --colors-text-special: #280d5f;
  --colors-text99: #280d5f99;
  --colors-backgroundSkeleton: #3b3838;
  --colors-textDisabled: #bdc2c4;
  --colors-textSubtle: #74ddca;
  --colors-textSub: #000;
  --colors-disabled: #e9eaeb;
  --colors-violetAlt1: #e2c9fb;
  --colors-violetAlt2: #cdb8fa;
  --colors-bubblegum1: #e5fdff;
  --colors-bubblegum2: #f3efff;
  --colors-tooltipBackground: #000;
  --colors-tooltipText: #fff;
  --colors-lightBlueLeft: #28c38b;
  --colors-lightBlueRight: #28c38b;
  --colors-background-slider: #ffffff;
  --colors-gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
  --colors-gradientInverseBubblegum: linear-gradient(
    139.73deg,
    #f3efff,
    #e5fdff
  );
  --colors-gradientCardHeaderFrom: #f2ecf2;
  --colors-gradientCardHeaderTo: #e8f2f6;
  --colors-gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
  --colors-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
  --colors-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
  --colors-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
  --colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
  --colors-gradientBold: linear-gradient(#53dee9, #7645d9);
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.preverve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.translate-rotateY {
  transform: rotateY(180deg) translateZ(1px);
}

.swiper-wrapper {
  height: 100% !important;
  align-items: center !important;
}

.swiper-slide {
  width: 320px !important;
}

.top-banner {
  transform: translateX(0%) translateY(200%) rotate(-45deg);
}

@media only screen and (max-width: 640px) {
  .swiper-slide {
    width: 100% !important;
  }
}
